{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<style>
  .header--middle-left .header__inline-menu {
    position: absolute;
    width: fit-content;
    max-width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  .has-submenu:hover .submenu {
    display: block;
  }
</style>


{% comment %} <nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav> {% endcomment %}

<nav class="header__inline-menu header__custom-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links limit:5 -%}
      <li class="header__custom-menu-item-li {% if link.links.size > 0 %}has-submenu{% endif %}">
        <a
          id="HeaderMenu-{{ link.handle }}"
          href="{{ link.url }}"
          class="header__menu-item list-menu__item link link--text focus-inset"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          <span {% if link.current %}class="header__active-menu-item"{% endif %}>
            {{- link.title | escape -}}
          </span>
          {% if link.links.size > 0 %}
            {{- 'icon-chevron.svg' | inline_asset_content -}}
          {% endif %}
        </a>

        {%- if link.links.size > 0 -%}
          <div class="header__submenu">
            <div class="page-width">
              <div class="header__submenu-wrapper">
                <ul class="d-flex header__submenu-wrapper-ul">
                  {%- for sublink in link.links -%}
                    <li class="header__submenu-item {% for block in section.blocks %} {% if block.settings.title == sublink.title %}has-megamenu{% endif %}{% endfor %}">
                      <a href="{{ sublink.url }}" class="submenu-link">
                        {{ sublink.title }}
                        {% for block in section.blocks %} 
                          {% if block.settings.title == sublink.title %}
                            {{- 'icon-chevron.svg' | inline_asset_content -}}
                          {% endif %}
                        {% endfor %}
                      </a>
                      {% for block in section.blocks limit:5 %}
                        {% if block.settings.title == sublink.title %}
                          {% case block.type %}
                            {%- when 'nav-list' -%}
                              <div class="header__mega-menu-wrapper">
                                <div class="header__mega-menu">
                                  <div class="page-width d-flex justify-content-between">
                                    <div class="header__mega-menu-nav d-flex">
                                      {% if linklists[block.settings.link_list_1].title != blank %}
                                        <div class="header__mega-menu-nav-list">
                                          <h5 class="">{{ linklists[block.settings.link_list_1].title }}</h5>
                                          <ul class="">
                                            {% for link in linklists[block.settings.link_list_1].links %}
                                              <li>
                                                <a class="" href="{{ link.url }}">
                                                  {{- link.title | escape -}}
                                                </a>
                                              </li>
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}
                                      {% if linklists[block.settings.link_list_2].title != blank %}
                                        <div class="header__mega-menu-nav-list">
                                          <h5 class="">{{ linklists[block.settings.link_list_2].title }}</h5>
                                          <ul class=""> 
                                            {% for link in linklists[block.settings.link_list_2].links %}
                                              <li>
                                                <a class="" href="{{ link.url }}">
                                                  {{- link.title | escape -}}
                                                </a>
                                              </li>
                                            {% endfor %}
                                          </ul>
                                        </div>
                                      {% endif %}              
                                    </div>
                                    <div class="header__mega-menu-products d-flex">
                                      {% assign product_ids = "product_1,product_2,product_3" | split: "," %}
                                      {% for product_id in product_ids %}
                                        {% assign product_handle = block.settings[product_id] %}
                                        {% if product_handle != blank %}
                                          {% assign product = all_products[product_handle] %}
                                          {% render 'card-product',
                                            card_product: product,
                                            media_aspect_ratio: section.settings.image_ratio,
                                            image_shape: section.settings.image_shape,
                                            show_secondary_image: section.settings.show_secondary_image,
                                            show_vendor: section.settings.show_vendor,
                                            show_rating: section.settings.show_rating,
                                            show_color_picker: section.settings.show_color_picker,
                                            skip_styles: skip_card_product_styles,
                                            section_id: section.id,
                                            quick_add: section.settings.quick_add,
                                            show_variant_price: true
                                          %}
                                        {% endif %}
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                          {%- endcase -%}
                        {% endif %}
                      {% endfor %} 
      
      
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>

