{{ 'accordion.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .accordion--{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media (min-width: 750px) {
    .accordion--{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }}">
  <section class="accordion accordion--{{ section.id }}">
    <div class="page-width">
      <div class="accordion__title">
          <h2 class="h1">{{ section.settings.title }}</h2>
      </div>
      <div class="accordion__wrapper">
        {% for block in section.blocks %}
          <div
            class="custom-accordion__block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="custom-accordion__accordion">
              <div id="title-{{ forloop.index }}" class="js-accordion-{{ section.index }} custom-accordion__title d-flex justify-content-between {% if forloop.first %}active{% endif %}">
                {% if block.settings.title %}
                  <h6 class="">{{ block.settings.title }}</h6>
                {% endif %}
              <span class="custom-accordion__icon">
                {{- 'icon-chevron.svg' | inline_asset_content -}}
              </span>
              </div>
              <div class="custom-accordion__content">
                {% if block.settings.text %}
                  <div class="custom-accordion__text">{{ block.settings.text }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>




<script>
  //ACCORDION
  var acc = document.getElementsByClassName("js-accordion-{{ section.index }}");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

  // Set the first accordion as open on page load
  if (acc.length > 0) {
    var firstPanel = acc[0].nextElementSibling;
    firstPanel.style.maxHeight = firstPanel.scrollHeight + "px";
  }

  // Recalculate maxHeight on window resize
  window.addEventListener('resize', function() {
    for (i = 0; i < acc.length; i++) {
      var panel = acc[i].nextElementSibling;
      if (acc[i].classList.contains('active')) {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  });
</script>


{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile section padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}